
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
p{
  line-height: 1.4em;
    font-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 50px;
}
h3{
  font-size: 30px;
}
* {
  box-sizing: border-box;
}
.btn-dark{
  background-color: #95482a;
  border: none;
}
.headline {
  left: 130px;
  padding: 11% 0;
}

.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 650px) {
  .headline {
    left: 20px;
  }

  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}

/* Banner css */
.banner {
  min-height: 80vh;
  overflow-x: hidden;
  background: url('https://downloads.ctfassets.net/di1zc7l0b6uf/2lQk8SFHwvEmLIX6leT54z/3f6d7fc29eea5838acab86d4d0e4093d/mwanje-henry-_Zb5-tOmEes-unsplash.png');
  width: 100vw;
  background-size: cover;
  margin-top: 70px;
  background-position: bottom;
  position: relative;
  background-attachment: fixed;
}
.banner .right_graphic{
 
    width: 30%;
    height: 100%;
    top: 0;
    z-index: 10;
    position: absolute;
    right: 0;
    background: url('https://images.ctfassets.net/di1zc7l0b6uf/6vJ2hsvNaXfNb5adn6DrwE/5430155027eb0ff40acc418620efe72a/slider-1-shape-1__1_.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.banner h1, .banner p {
  color: white;
}
.banner button{
      background: #95482a;
        border: none;
}



/* CARDS */
.cards_Section {
  background: #dbdbdb;
  padding-bottom: 8rem;
}
.card{
  margin-bottom: 20px;
}
.cta_section {
  min-height: 400px;
  width: 100vw;
  background: url('https://images.ctfassets.net/di1zc7l0b6uf/5e0rsKeWePKR8w6CunyVM1/0008bc82f7a6dd23b077568173bf880f/safe-gd4807e80b_1920__1_.jpg');
      background-size: cover;
        background-position: center;
        padding: 5%;
}
.cta_section h1{
    font-size: 57px;
}
.cta_section h1,.cta_section h3, .cta_section p {
  color: #fff;
    text-align: center;

}
.cta_section button {
  background:#95482a;
  min-width: 20%;
}

/* exchange rate section */
.exchange_section{
  padding: 5rem;
}
@media only screen and (max-width:768px){
  .exchange_section {
      padding: 1rem;
    }
}
td{
  vertical-align: middle;
}

/* NEWS */
.snip1360 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  background-color: #ffffff;
}

.snip1360 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1360 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1360 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px 55px;
  position: relative;
}

.snip1360 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.snip1360 figcaption a {
    position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      background-color: #95482a;
      color: #ffffff;
      font-size: 0.8em;
      text-transform: uppercase;
      opacity: 1;
      width: 100%;
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
}

.snip1360 figcaption a:hover {
  opacity: 1;
}

.snip1360 h2 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
}

.snip1360 p {
  margin: 0 0 10px;
}
.news {
  padding: 50px;
  background: #dbdbdb;
}
/* NEWS */

/* FOOTER */

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #95482a;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #95482a;
}
.footer-widget ul{
  margin: 0;
  padding: 0;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #95482a;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #95482a;
  padding: 13px 20px;
  border: 1px solid #95482a;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #95482a;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #95482a;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}