
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
p{
  line-height: 1.4em;
    font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-dark{
  background-color: #95482a;
  border: none;
}
.headline {
  left: 130px;
  padding: 11% 0;
}

.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 650px) {
  .headline {
    left: 20px;
  }

  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}

/* Banner css */
.banner {
  min-height: 80vh;
  overflow-x: hidden;
  background: url('https://images.ctfassets.net/di1zc7l0b6uf/2fsQXWFJAadLvx7Q6HwqgE/5c33439949a1fa86c7569306306e24de/money-g456231ca0_1920__1_.jpg');
  width: 100vw;
  background-size: cover;
  margin-top: 70px;
  background-position: revert;
  position: relative
}
.banner .right_graphic{
 
    width: 30%;
    height: 100%;
    top: 0;
    z-index: 10;
    position: absolute;
    right: 0;
    background: url('https://images.ctfassets.net/di1zc7l0b6uf/6vJ2hsvNaXfNb5adn6DrwE/5430155027eb0ff40acc418620efe72a/slider-1-shape-1__1_.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.banner h1, .banner p {
  color: white;
}
.banner button{
      background: #95482a;
        border: none;
}



/* CARDS */
.cards_Section {
  background: #dbdbdb;
  padding-bottom: 8rem;
}
.card{
  margin-bottom: 20px;
}
.cta_section {
  min-height: 400px;
  width: 100vw;
  background: url('https://images.ctfassets.net/di1zc7l0b6uf/5e0rsKeWePKR8w6CunyVM1/0008bc82f7a6dd23b077568173bf880f/safe-gd4807e80b_1920__1_.jpg');
      background-size: cover;
        background-position: center;
        padding: 5%;
}
.cta_section h1{
    font-size: 57px;
}
.cta_section h1,.cta_section h3, .cta_section p {
  color: #fff;
    text-align: center;

}
.cta_section button {
  background:#95482a;
  min-width: 20%;
}

/* exchange rate section */
.exchange_section{
  padding: 5rem;
}
@media only screen and (max-width:768px){
  .exchange_section {
      padding: 1rem;
    }
}
td{
  vertical-align: middle;
}

/* NEWS */
.snip1360 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  background-color: #ffffff;
}

.snip1360 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1360 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1360 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px 55px;
  position: relative;
}

.snip1360 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.snip1360 figcaption a {
    position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      background-color: #95482a;
      color: #ffffff;
      font-size: 0.8em;
      text-transform: uppercase;
      opacity: 1;
      width: 100%;
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
}

.snip1360 figcaption a:hover {
  opacity: 1;
}

.snip1360 h2 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
}

.snip1360 p {
  margin: 0 0 10px;
}
.news {
  padding: 50px;
  background: #dbdbdb;
}
/* NEWS */

/* FOOTER */

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #95482a;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #95482a;
}
.footer-widget ul{
  margin: 0;
  padding: 0;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #95482a;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #95482a;
  padding: 13px 20px;
  border: 1px solid #95482a;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #95482a;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #95482a;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* ABOUT STYLES */
.about-us-area {
  position: relative;
  display: block;
  padding: 50px;
  padding-top: 0;
  z-index: 11;
  min-height: 50vh;
  margin-top: 60px;
}

.about-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: luminosity;
  z-index: -1;
}

.about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.15;
}

.about-us-area .inner-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 360px 0 0px;
  z-index: 10;
}

.about-us-area .title {
  position: absolute;
  left: 0;
  bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 12%);
  padding: 10px 15px 4px;
}

.about-us-area .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #b31b34;
}

.about-us-area .title h2 {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -0.02em;
}

.menu {
  position: absolute;
  bottom: -37px;
  right: 0;
}

.menu ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu ul li {
  position: relative;
  display: block;
  float: left;
  color: #7f7873;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  padding-right: 10px;
}

.menu ul li a {
  color: #7f7873;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.menu ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.menu .menu-icon {
  bottom: 0px;
  font-size: 12px;
}

/* Intro-area-section */
.intro-area {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.video-gallery {
  position: relative;
  display: block;
  min-height: 720px;
  margin-right: 20px;
}

.video-gallery-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #6464645e;
  background-blend-mode: luminosity;
}

.video-gallery-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-gallery-button .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background: #ffffff;
  margin: 0 auto;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  z-index: 2;
}

.play-icon {
  font-size: 50px;
}

.intro-content-box {
  position: relative;
  display: block;
}

.content-title {
  position: relative;
  display: block;
  margin-top: -8px;
  padding-bottom: 33px;
}

.content-title h2 {
  font-size: 48px;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: capitalize;
}

.content-text {
  position: relative;
  display: block;
  padding-bottom: 43px;
}

.content-text p {
  line-height: unset !important;
  color: #7f7873;
}

.content-box {
  position: relative;
  display: block;
  padding-right: 20px;
}

.img-box {
  position: relative;
  display: block;
  background-color: #646464;
}

.inner-img-box {
  position: relative;
  display: block;
  overflow: hidden;
  object-fit: cover;
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
}

.inner-img-box:hover {
  mix-blend-mode: luminosity;
  transition: all 200ms ease;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  right: -20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 12%);
  padding: 10px 20px 5px;
  z-index: 2;
}

.overlay-text h3 {
  font-size: 18px;
  font-weight: 500;
  color: #b31b34;
}

.title-box {
  position: relative;
  display: block;
  padding-top: 22px;
}

.title-box h3 {
  font-size: 22px;
  line-height: 28px;
}

.title-box a {
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.related-area {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 0px 0 50px;
}

.single-section {
  position: relative;
  padding: 0 45px;
  margin-bottom: 43px;
  list-style: none;
}

.single-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 7px;
  width: 1px;
  background: #e0e6e7;
}

.section-1 {
  position: relative;
  display: block;
}

.related-icon-area {
  position: relative;
  display: block;
  padding-top: 50px;
  width: 90px;
  margin: 0 auto;
}

.related-icon-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 12%);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--thm-black);
  font-size: 50px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.org-icon {
  font-size: 30px;
  color: #b31b34;
}

.count {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background-color: #f7f1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #a5a2a0;
  font-size: 22px;
  font-weight: 500;
}

.section-1 .text {
  position: relative;
  display: block;
  padding-top: 27px;
}

.section-1 .text h3 {
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 18px;
}

.section-1 .text p {
  color: #7f7873;
}

/* Management area styling */
.management-area {
  position: relative;
  display: block;
  background-color: #f7f1eb;
  padding: 100px 0 90px;
}

.shape {
  position: absolute;
  bottom: -37px;
  right: -7px;
  color: #fff;
  font-size: 200px;
}

.management-text-box {
  position: relative;
  display: block;
  padding: 50px 64px 50px;
  background-color: #b31b34;
}

.management-text-box .inner-title {
  position: relative;
  display: block;
  padding-bottom: 19px;
}

.management-text-box .inner-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 2px;
  background: #ffffff;
}
.management-text-box .inner-title h2 {
  color: #ffffff;
  font-size: 48px;
  line-height: 58px;
}

.management-text-box .text {
  position: relative;
  display: block;
  padding-top: 33px;
}

.management-text-box .text p {
  color: #fff;
}

/* Mandate Area Styling */
.mandate-area {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.mandate-content {
  position: relative;
  display: block;
}

.mandate-content .sec-title {
  padding-bottom: 32px;
}

.mandate-content .sec-title h2 {
  font-size: 48px;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: capitalize;
}

.mandate-content .text {
  position: relative;
  display: block;
  padding-bottom: 33px;
}

.mandate-content .text p {
  color: #7f7873;
}

.mandate-content .text-color {
  color: #7f7873;
}

.link {
  display: inline;
  border-bottom: 1px solid #b31b34;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #ffffff 50%, #b31b34 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.link:hover {
  color: #fff;
  background-position: left;
  border-bottom: 1px solid #ffffff;
}

