
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
p{
  line-height: 1.4em;
    font-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 70px;
}
@media only screen and (max-width:1024px){
h1 {
    font-size: 50px;
  }
}
h2{
  font-size: 50px;
}
@media only screen and (max-width:1024px) {
  h2 {
      font-size: 30px;
    }
}
h3{
  font-size: 30px;
}
@media only screen and (max-width:1024px) {

}
* {
  box-sizing: border-box;
}

.btn-dark{
  background-color: #0d4d63;
  border: none;
}

.headline {
  left: 130px;
  padding: 11% 0;
}

.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 650px) {
  .headline {
    left: 20px;
  }

  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}

/* Banner css */
.banner {
  min-height: 80vh;
  overflow-x: hidden;
  background: url('https://images.ctfassets.net/di1zc7l0b6uf/4WrA3rnyaBVVXGywguO7Uv/0263f8075317e1628b893a63613df2c0/New_Project.webp');
  width: 100vw;
  background-size: cover;
  margin-top: 70px;
  background-position: bottom;
  position: relative;
  background-attachment: fixed;
}
.banner .right_graphic{
 
    width: 30%;
    height: 100%;
    top: 0;
    z-index: 10;
    position: absolute;
    right: 0;
    background: url('https://images.ctfassets.net/di1zc7l0b6uf/6vJ2hsvNaXfNb5adn6DrwE/5430155027eb0ff40acc418620efe72a/slider-1-shape-1__1_.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.banner h1, .banner p {
  color: white;
}
.banner button{
      background: #0d4d63;
        border: none;
}



/* CARDS */
.cards_Section {
  background: #dbdbdb;
  padding-bottom: 8rem;
}
.card{
  margin-bottom: 20px;
}
.cta_section {
  min-height: 70vh;
  width: 100vw;
  background: url('https://images.ctfassets.net/di1zc7l0b6uf/1qhAIRAoTpdfPLjSeKGw3E/26a226d6e5ff3e6735f15747256d701f/lake-albert-2103890_960_720.png');
  background-position: 50%;
    padding: 10%;
    background-attachment: fixed;
    background-size: cover;
}

.cta_section h1,.cta_section h3, .cta_section p {
  color: #fff;
    text-align: center;

}
.cta_section button {
  background:#0d4d63;
  min-width: 20%;
}

/* exchange rate section */
.exchange_section{
  padding: 5rem;
}
@media only screen and (max-width:768px){
  .exchange_section {
      padding: 1rem;
    }
}
td{
  vertical-align: middle;
}

/* NEWS */
.snip1360 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  background-color: #ffffff;

}
@media only screen and (max-width:1024px) {
.snip1360 {
   margin: 10px 0;
  }
}
.snip1360 h2{
    display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
}
.snip1360 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1360 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1360 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px 55px;
  position: relative;
}

.snip1360 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.snip1360 figcaption a {
    position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      background-color: #0d4d63;
      color: #ffffff;
      font-size: 0.8em;
      text-transform: uppercase;
      opacity: 1;
      width: 100%;
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
}

.snip1360 figcaption a:hover {
  opacity: 1;
}

.snip1360 h2 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
}

.snip1360 p {
  margin: 0 0 10px;
}
.news {
  padding: 50px;
  background: #dbdbdb;
}
@media only screen and (max-width:1024px) {
.news {
    padding: 0px;
  }
}
/* NEWS */

/* FOOTER */

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #0d4d63;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #0d4d63;
}
.footer-widget ul{
  margin: 0;
  padding: 0;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #0d4d63;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #0d4d63;
  padding: 13px 20px;
  border: 1px solid #0d4d63;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #0d4d63;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #0d4d63;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* ABOUT STYLES */
.about-us-area {
  position: relative;
  display: block;
  padding: 50px;
  padding-top: 0;
  z-index: 11;
  min-height: 50vh;
  margin-top: 60px;
}

.about-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: luminosity;
  z-index: -1;
}

.about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.15;
}

.about-us-area .inner-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 360px 0 0px;
  z-index: 10;
}

.about-us-area .title {
  position: absolute;
  left: 0;
  bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 12%);
  padding: 10px 15px 4px;
}

.about-us-area .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #0d4d63;
}

.about-us-area .title h2 {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -0.02em;
}

.menu {
  position: absolute;
  bottom: -37px;
  right: 0;
}

.menu ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu ul li {
  position: relative;
  display: block;
  float: left;
  color: #7f7873;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  padding-right: 10px;
}

.menu ul li a {
  color: #7f7873;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.menu ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.menu .menu-icon {
  bottom: 0px;
  font-size: 12px;
}

/* Intro-area-section */
.intro-area {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.video-gallery {
  position: relative;
  display: block;
  min-height: 720px;
  margin-right: 20px;
}

.video-gallery-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #6464645e;
  background-blend-mode: luminosity;
}

.video-gallery-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-gallery-button .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background: #ffffff;
  margin: 0 auto;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  z-index: 2;
}

.play-icon {
  font-size: 50px;
}

.intro-content-box {
  position: relative;
  display: block;
}

.content-title {
  position: relative;
  display: block;
  margin-top: -8px;
  padding-bottom: 33px;
}

.content-title h2 {
   
  font-weight: 500;
  text-transform: capitalize;
}

.content-text {
  position: relative;
  display: block;
  padding-bottom: 43px;
}

.content-text p {
  line-height: unset !important;
  color: #7f7873;
}

.content-box {
  position: relative;
  display: block;
  padding-right: 20px;
}

.img-box {
  position: relative;
  display: block;
  background-color: #646464;
}

.inner-img-box {
  position: relative;
  display: block;
  overflow: hidden;
  object-fit: cover;
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
}

.inner-img-box:hover {
  mix-blend-mode: luminosity;
  transition: all 200ms ease;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  right: -20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 12%);
  padding: 10px 20px 5px;
  z-index: 2;
}

.overlay-text h3 {
  font-size: 18px;
  font-weight: 500;
  color: #0d4d63;
}

.title-box {
  position: relative;
  display: block;
  padding-top: 22px;
}

.title-box h3 {
  font-size: 22px;
  line-height: 28px;
}

.title-box a {
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.related-area {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 0px 0 50px;
}

.single-section {
  position: relative;
  padding: 0 45px;
  margin-bottom: 43px;
  list-style: none;
}

.single-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 7px;
  width: 1px;
  background: #e0e6e7;
}

.section-1 {
  position: relative;
  display: block;
}

.related-icon-area {
  position: relative;
  display: block;
  padding-top: 50px;
  width: 90px;
  margin: 0 auto;
}

.related-icon-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 12%);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--thm-black);
  font-size: 50px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.org-icon {
  font-size: 30px;
  color: #0d4d63;
}

.count {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background-color: #f7f1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #a5a2a0;
  font-size: 22px;
  font-weight: 500;
}

.section-1 .text {
  position: relative;
  display: block;
  padding-top: 27px;
}

.section-1 .text h3 {
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 18px;
}

.section-1 .text p {
  color: #7f7873;
}

/* Management area styling */
.management-area {
  position: relative;
  display: block;
  background-color: #f7f1eb;
  padding: 100px 0 90px;
}

.shape {
  position: absolute;
  bottom: -37px;
  right: -7px;
  color: #fff;
  font-size: 200px;
}

.management-text-box {
  position: relative;
  display: block;
  padding: 50px 64px 50px;
  background-color: #0d4d63;
}
@media only screen and (max-width:1024px){
  .management-text-box{
    padding: 20px;
  }
}
.management-text-box .inner-title {
  position: relative;
  display: block;
  padding-bottom: 19px;
}

.management-text-box .inner-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 2px;
  background: #ffffff;
}

.management-text-box .inner-title h2 {
  color: #ffffff;
}

.management-text-box .text {
  position: relative;
  display: block;
  padding-top: 33px;
}

.management-text-box .text p {
  color: #fff;
}

/* Mandate Area Styling */
.mandate-area {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.mandate-content {
  position: relative;
  display: block;
}

.mandate-content .sec-title {
  padding-bottom: 32px;
}

.mandate-content .sec-title h2 {
 
   
  font-weight: 500;
  text-transform: capitalize;
}

.mandate-content .text {
  position: relative;
  display: block;
  padding-bottom: 33px;
}

.mandate-content .text p {
  color: #7f7873;
}

.mandate-content .text-color {
  color: #7f7873;
}

.link {
  display: inline;
  border-bottom: 1px solid #0d4d63;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #ffffff 50%, #0d4d63 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.link:hover {
  color: #fff;
  background-position: left;
  border-bottom: 1px solid #ffffff;
}


/* CAREERS PAGE STYLING */
.career-area {
  position: relative;
  display: block;
  padding: 50px;
  padding-top: 0;
  z-index: 11;
  min-height: 50vh;
  margin-top: 60px;
}

.career-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: luminosity;
  z-index: -1;
}

.career-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.15;
}

.career-area .inner-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 360px 0 0px;
  z-index: 10;
}

.career-area .title {
  position: absolute;
  left: 0;
  bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 12%);
  padding: 10px 15px 4px;
}

.career-area .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #0d4d63;
}

.career-area .title h2 {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -0.02em;
}

/* Intro-section styles */
.intro-section {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.intro-img-box {
  position: relative;
  display: block;
  padding-right: 20px;
}

.intro-img-box .inner-content {
  position: relative;
  display: block;
  overflow: hidden;
  background: #646464;
}

.intro-content-box {
  position: relative;
  display: block;
}

.intro-content-box .sec-title {
  padding-bottom: 32px;
}

.sec-title h2 {
   
  font-weight: 500;
  text-transform: capitalize;
}

.intro-content-box .text {
  position: relative;
  display: block;
  margin-bottom: 16px;
}

.intro-content-box .text p {
  color: #7f7873;
}

/* Job-listing-area Styling */
.job-listing-area {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.job-listing-box {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
}

.job-title {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  text-align: center;
}

.job-listing-area .job-title::before {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 200px;
  height: 2px;
  background: #0d4d63;
  display: flex;
  justify-content: center;
}

.job-title h3 {
  font-size: 48px;
   
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.job-listing-box .table-outer {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.job-listing-box .table-outer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.job-listing-table {
  min-width: 1024px;
  width: 100%;
  overflow: hidden;
}

.job-listing-table .header {
  position: relative;
  background: #f7f1eb;
  text-transform: capitalize;
  width: 100%;
}

.job-listing-table thead tr th {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  min-width: 110px;
  padding: 13px 30px;
  border: 1px solid #e2deda;
  text-transform: uppercase;
}

.job-listing-table tbody {
  position: relative;
  border: 1px solid #f2ece7;
}

.job-listing-table tbody tr {
  border-bottom: 1px solid #f2ece7;
}

.job-listing-table tbody tr td {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  min-width: 110px;
  padding: 27.5px 30px;
  border: 1px solid #f2ece7;
}

.job-listing-table tbody tr td.job-role h3 {
  font-size: 18px;
  font-weight: 500;
}

.job-listing-table tbody tr td.description p {
  color: #7f7873;
  font-size: 16px;
  font-weight: 400;
}

.job-listing-table tbody tr td .btn-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.job-listing-table tbody tr td .btn-box a {
  border: 1px solid #f2ece7;
  line-height: 38px;
}

.job-listing-table tbody tr td .btn-box a:hover {
  color: #fff;
}

.btn-one {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: #0d4d63;
  font-size: 18px;
  line-height: 60px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 0px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 2;
}

.btn-box::before {
  position: absolute;
  top: 110px;
  left: -50px;
  right: -50px;
  height: 170px;
  content: "";
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  border-radius: 50%;
  transition-duration: 800ms;
  z-index: 1;
}

.btn-box::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 0px;
  background-color: #ffffff;
  opacity: 1;
  transform: scaleX(1.0);
  transition-duration: 800ms;
  z-index: -1;
}

.btn-box .txt {
  position: relative;
  z-index: 1;
}
/* BLOG PAGE STYLES */
.blog-area {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 100px 0 100px;
  z-index: 1;
}

.single-blog {
  position: relative;
  display: block;
  padding-right: 20px;
  margin-bottom: 43px;
  z-index: 1;
}

.single-blog .img-holder {
  position: relative;
  display: block;
}

.single-blog .img-holder .inner {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #646464;
}

.single-blog .img-holder .inner img {
  width: 100%;
  transform: scale(1.0);
  /* mix-blend-mode: luminosity; */
}

.single-blog .img-holder .inner img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(26, 28, 35, 0.50);
  -webkit-transform: translateX(-50%, -50%);
  transform: translateX(-50%, -50%);
  opacity: 0;
  z-index: 1;
}

.single-blog .img-holder .inner .overlay-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 70px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  -webkit-transform: perspective(400px) rotateY(0deg) translateY(-80px);
  -ms-transform: perspective(400px) rotateY(0deg) translateY(-80px);
  transform: perspective(400px) rotateY(0deg) translateY(-80px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.single-blog .img-holder .inner .overlay-icon a {
  position: relative;
  display: inline-block;
  color: #b31b34;
  font-size: 25px;
}

.single-blog .img-holder .inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #1a1c23;
  opacity: 0;
  z-index: 2;
  transition: all 500ms linear;
  transition-delay: 0.1s;
}

.single-blog .img-holder .category-date-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: -20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 12%);
  padding: 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.single-blog .img-holder .category-date-box .category {
  position: relative;
  display: flex;
  align-items: center;
}

.single-blog .img-holder .category-date-box .category .category-icon {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 14px;
  padding-right: 8px;
}

.single-blog .img-holder .category-date-box .category h5 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.single-blog .img-holder .category-date-box .category h5 a {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.single-blog .img-holder .category-date-box .date {
  position: relative;
  display: block;
  padding-left: 35px;
}

.single-blog .img-holder .category-date-box .date::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 6px;
  height: 6px;
  background-color: #a5a6aa;
  border-radius: 50%;
}

.single-blog .img-holder .category-date-box .date h5 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.single-blog .text-holder {
  position: relative;
  display: block;
  padding-top: 24px;
}

.single-blog .text-holder .blog-title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6ebe9;
}

.single-blog .text-holder .blog-title a {
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.intro-content-box .text .content-text {
  font-size: 15px;
}

/* MAIN NAV CSS */
li.nav-item {
  position: relative;
      margin: 30px;
}
.mega_nav {
        top: 105%;
          left: -60%;
          padding: 5px 0;
          margin-top: 10px;
          display: block;
          visibility: hidden;
          opacity: 0;
          border: none;
          border-radius: 5px;
          background-color: #fff;
          transition: all .4s;
          box-shadow: 0 10px 50px 0 rgb(0 0 0 / 17%);
          position: absolute;
}
li.nav-item:hover>.mega_nav{
    opacity: 1;
      visibility: visible;
      margin-top: 10px;
      top: 80%;
}

li.nav-item>.mega_nav{
    
       min-width: 700px;
        padding: 24px;
        background: #fff;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        
}
.mega_nav ul{
  margin: 0;
  padding: 0;
}
.mega_nav ul li {
  list-style: none;
  padding: 10px 10px;
 margin-bottom: 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.mega_nav ul li:hover{
background: #dddddd;
cursor: pointer;
}
.mega_nav h6 {
  font-size: 16px;
}

.mega_nav p{
  font-size: 15px;
  margin-bottom: 0;
}
.mega_nav .badge{
      background: #ff9800;
}

.mega_nav .icon{
  font-size: 30px;
}

li.nav-item.has_dropdown::after {
  width: 10px;
  height: 10px;
  content: ' ';
  position: absolute;
  top: 14px;
  right: -10px;
  border-radius: 2px;
  transform: rotate(45deg);
  border-right: 2px solid #0d4d63;
  border-bottom: 2px solid #0d4d63;
}

li.nav-item.has_dropdown {
  position: relative;
}
.nav-link {
  color: #0d4d63;
}


/* MOBILE NAV CSS */
@media only screen and (max-width:1070px){
  .navbar-nav{
    display: none;
  
  }
} 
@media only screen and (min-width:1070.1px){
  .mobile_nav{
    display: none;
  }
}

.mobile_nav .checkbox {
  display: none;
}

.mobile_nav .button {
  background-color: #542103;
    height: 4rem;
    width: 5rem;
    position: fixed;
    top: 1vh;
    right: 5vw;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
}

.mobile_nav .background {
    height: 2rem;
      width: 2rem;
      border-radius: 50%;
      position: fixed;
      top: 4.5vh;
      right: 7.5vw;
      background-image: radial-gradient(#fff, #fff);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.mobile_nav .nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.mobile_nav .list {
    list-style: none;
      text-align: center;
      width: 100%;
      padding: 0;
      margin-top: 12vh;
      background: #0d4d63;
}

.mobile_nav .item {
margin: 1rem;
  font-size: 30px;
  color: #fff;
}
.mobile_nav .item.has_dropdown{
  position: relative;
}
.mobile_nav .item a:hover {
  color: #fff;
}
.mobile_nav .item.has_dropdown span{
    background: #0a4154;
      padding: 0px 10px;
      margin-left: 10px;
      border-radius: 5px;
}
.mobile_nav .item.has_dropdown ul {
  display: none;
    opacity: 0;
    animation: mobile_mega 0.5s linear;
    animation-fill-mode: forwards;
}
.mobile_nav .item.has_dropdown ul li{
  list-style-type: none;
}
.mobile_nav .item.has_dropdown:hover ul{
  display: block;
    opacity: 1;
    margin-top: 10px;
   background: #979393;
   color: #0d4d63;
  padding: 11px;
  font-size: 20px;
  border-radius: 10px;
  position: relative;
}
.mobile_nav .item.has_dropdown:hover ul::after{
      content: ' ';
        position: absolute;
        background: #979393;
        width: 20px;
        height: 20px;
        top: -9px;
        transform: rotate(45deg);
}
@keyframes mobile_mega{
  0%{
   display: none;
   opacity: 0;
  }
  50%{
display: block;
opacity: 0.1;
margin-top: 10px;
  }
  100%{
display: block;
opacity:1;
margin-top: 10px;
  }
}

 .mobile_nav .link:link,
.mobile_nav .link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 50%,
      white 50%);
  background-size: 220%;
  transition: all 0.4s;
}

.mobile_nav .link:hover,
.mobile_nav .link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.mobile_nav .checkbox:checked~.background {
  transform: scale(80);
}

.mobile_nav .checkbox:checked~.nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.mobile_nav .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile_nav .icon,
.mobile_nav .icon::before,
.mobile_nav .icon::after {
  width: 3rem;
  height: 2px;
  background-color: white;
  display: inline-block;
}

.mobile_nav .icon::before,
.mobile_nav .icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.mobile_nav .icon::before {
  top: -0.8rem;
}

.mobile_nav .icon::after {
  top: 0.8rem;
}

.mobile_nav .button:hover icon:before {
  top: -1rem;
}

.mobile_nav .button:hover icon::after {
  top: 1rem;
}

.mobile_nav .checkbox:checked+.button .icon {
  background-color: transparent;
}

.mobile_nav .checkbox:checked+.button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.mobile_nav .checkbox:checked+.button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
 
.navbar-brand {
  z-index: 99999999;
  background: #fff;
}

